.email {
    text-align: center;
}

.passwort {
    text-align: center;

}

.anmeldenBT{
    text-align: center;

}

.pwvergessenBT{
    text-align: center;
}

.kontoanlegen{
    text-align: center;
}