.eventedit,
.zuordnungcancel {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.eventedit input,
.zuordnungcancel input {
    width: 180px;
}

.logout {
    text-align: center;
    margin: 10px 0;
}

.eventa-form-title {
    text-align: center;
}