.eventanlegen {
    text-align: center;
}

.eventansehen {
    text-align: center;
}

.logout {
    text-align: center;
}

.table-window {
    width: 900px;
    max-width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.table-window > table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-window-body {
    {/*padding: 15px;
    overflow-x: auto;*/}
    overflow-y: auto;
}

.table-window-body table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}


table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even){background-color: #f9f9f9;}
table tr:hover {background-color: #e6f7ff;}