.eventansehen,
.eventanlegen {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.eventansehen input,
.eventanlegen input {
    width: 180px;
}


.logout {
    text-align: center;
    margin: 10px 0;
}

.table-window {
    width: 1200px;
    max-width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    overflow-x: auto; /* Allow horizontal scrolling */
    /*overflow: hidden;*/
    font-family: Arial, sans-serif;
}

.table-window > table {
    width: 100%;
    border-collapse: collapse;
    /*table-layout: fixed;*/
    table-layout: auto;
}

.table-window-body {
    overflow-x: auto; /* Allow horizontal scrolling */
    overflow-y: auto;
}

.table-window-body table {
    width: 100%;
    border-collapse: collapse;
    /*table-layout: fixed;*/
    table-layout: auto;
}


table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even){background-color: #f9f9f9;}
table tr:hover {background-color: #e6f7ff;}