.email {
    text-align: center;
}

.submit {
    text-align: center;
}

.eventId {
    text-align: center;
}

.listeEinladen {
    text-align: center;
}

.abbrechen {
    text-align: center;
}

.logout {
    text-align: center;
}