h2 {
    color: #24292e;
    text-align: center;
    font-size: 7mm;
}

h3 {
    color: #24292e;
    text-align: center;
    font-size: 4mm;
}

.registrierung {
    text-align: center;
}

.anmelden {
    text-align: center;
}