h1 {
    color: #24292e;
    text-align: center;
    font-size: 10mm;
}

h2 {
    color: #24292e;
    text-align: center;
    font-size: 7mm;
}

h3 {
    color: #24292e;
    text-align: center;
    font-size: 4mm;
}

anmelden {

    text-align: center;
    font-size: 4mm;
}