.name {
    text-align: center;
}
.nname {
    text-align: center;
}
.email {
    text-align: center;
}
.passwort {
    text-align: center;
}
.repasswort {
    text-align: center;
}
.register {
    text-align: center;
}