.explanation {
    text-align: center;
}

.hier {
    text-align: center;
}

.neueSubgruppe {
    text-align: center;
}

.hinzufuegenloeschen {
    text-align: center;
}

.abbrechen {
    text-align: center;
}

